.info {
  position: fixed;
  bottom: 50%;
  text-align: center;
  width: 100%;
  color: white;
  font-size: 2rem;
}

.shapes {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.shapesBack {
  margin: auto;
  width: 60%;
  border-radius: 20px;
  background: rgb(255, 255, 255, 0.7);
}
.shapes img {
  width: 13%;
  margin: 1%;
  padding: 2%;
}
.shapes img:hover {
  cursor: pointer;
  background: gray;
  border-radius: 10px;
}
