.info {
  position: fixed;
  bottom: 20%;
  text-align: center;
  width: 100%;
  color: white;
  font-size: 2rem;
}

form{
  text-align: right;
  position: absolute;
  top: 10px;
  width: 100%;
}
.ballNumSpan{
  color: white;
}
form button{
  background: white;
  border: 1px solid gray;
  outline: 0;
  border-radius: 10px;
  padding: 2px 4px;
  cursor: pointer;
}